<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CampusLife.Campus_Life15" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/campuslife_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".Home"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CampusLife.Campus_Life15.Home" />
        </activity>
        <activity
            android:name=".ClCalendar"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".Home"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CampusLife.Campus_Life15.Home" />
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:parentActivityName=".Home"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CampusLife.Campus_Life15.Home" />
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".Home"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CampusLife.Campus_Life15.Home" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CampusLife.Campus_Life15.Home" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="Details" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Finals"
            android:label="@string/title_activity_finals"
            android:parentActivityName=".Home"
            android:theme="@style/Base.V7.Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CampusLife.Campus_Life15.Home" />
        </activity>
    </application>

</manifest>
